<nav>
    <div class="site-title">
   <h1>SDEV255 Final Project</h1></a>
     <p>By Noah Ledbetter, Kevin Cripe, and Joseph Cheesebourough</p>
    </div>
     <center> <h3><a href="/">Courses</a> <br></h3>
      <h3><a href="/about">About</a><br></h3>
     <h3> <a href="/courses/create">New Course</a><br></h3>
     <center>
  </nav>