<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-course content">
    <h2>Add Course</h2>
    <form action="/courses" method="POST">
      <label for="title">Course title:</label>
      <input type="text" id="title" name="title" required>
      <label for="description">Course description:</label>
      <input type="text" id="description" name="description" required>
      <label for="subject">Course subject:</label>
      <textarea id="subject" name="subject" required></textarea>
      <label for="credits">Course credits:</label>
      <input type="text" id="credits" name="credits" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>